@very-dark-gray  : #24292e;
@dark-gray       : lighten(@very-dark-gray, 3%);
@gray            : lighten(@dark-gray, 8%);
@light-gray      : lighten(@gray, 20%);
@very-light-gray : lighten(@light-gray, 25%);

@cyan            : #00CED1;
@blue            : #2196f3;
@purple          : #9575cd;
@green           : #4caf50;
@green-dark      : #43A047;
@red             : #f44336;
@orange          : #ff9800;
@light-orange    : #FFCC66;
@orange-2        : #ff9800;
